.ui-datatable .ui-datatable-header {
  align-items: center;
  display: flex;
  flex-direction: row; }
  .ui-datatable .ui-datatable-header .pf-datatable-header-title {
    flex-grow: 1; }
  .ui-datatable .ui-datatable-header .ui-separator {
    border: 0;
    background: #A8A8A8;
    width: 1px;
    clear: none;
    margin: 0 0 0 5px;
    float: right;
    height: 22px; }

.ui-panel .ui-panel-titlebar {
  display: flex;
  height: auto;
  line-height: 12px;
  padding: 4px 10px;
  margin-bottom: .2em; }
  .ui-panel .ui-panel-titlebar .ui-panel-title {
    flex-grow: 1;
    margin: 0;
    top: auto; }
  .ui-panel .ui-panel-titlebar .ui-panel-actions img {
    height: 12px; }

.pf-action-icon {
  display: inline-block;
  float: right;
  margin-left: 5px; }
  .pf-action-icon.pf-inactive {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: saturate(0%); }

.ui-widget-header .ui-inputfield,
.ui-widget-content .ui-inputfield {
  border: 0;
  padding: 4px 2px;
  width: 85%; }

.ui-widget-content .ui-separator {
  background: #A8A8A8;
  border: 0;
  box-shadow: none;
  height: 1px;
  margin-bottom: 4px; }
  .ui-widget-content .ui-separator:last-child {
    margin-bottom: 1px; }

.p-field.p-grid {
  align-items: center;
  margin: 0;
  padding: 4px 0; }
.p-field > label {
  margin-bottom: 0; }
.p-field .p-col {
  line-height: normal;
  padding: 0 10px; }

.ui-panel-content .ui-selectonemenu, .ui-panel-content .ui-selectcheckboxmenu {
  border-width: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%; }
  .ui-panel-content .ui-selectonemenu .ui-selectonemenu-label, .ui-panel-content .ui-selectonemenu .ui-selectcheckboxmenu-multiple-container, .ui-panel-content .ui-selectcheckboxmenu .ui-selectonemenu-label, .ui-panel-content .ui-selectcheckboxmenu .ui-selectcheckboxmenu-multiple-container {
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;
    line-height: normal;
    width: calc(85% + 6px); }
  .ui-panel-content .ui-selectonemenu .ui-selectonemenu-trigger, .ui-panel-content .ui-selectonemenu .ui-selectcheckboxmenu-trigger, .ui-panel-content .ui-selectcheckboxmenu .ui-selectonemenu-trigger, .ui-panel-content .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    align-items: center;
    border: 1px solid #a8a8a8;
    display: flex;
    flex-grow: 1;
    height: auto;
    justify-content: center;
    padding: 0;
    position: relative; }
    .ui-panel-content .ui-selectonemenu .ui-selectonemenu-trigger:after, .ui-panel-content .ui-selectonemenu .ui-selectcheckboxmenu-trigger:after, .ui-panel-content .ui-selectcheckboxmenu .ui-selectonemenu-trigger:after, .ui-panel-content .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger:after {
      border-bottom: 1px solid #ebebeb;
      box-sizing: border-box;
      content: 'ui-button';
      display: block;
      height: 100%;
      line-height: normal;
      padding: 3px 0 2px 0;
      text-indent: -9999999px;
      width: 100%;
      border-radius: 2px;
      border-radius: 0 0 2px 2px; }
    .ui-panel-content .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon, .ui-panel-content .ui-selectonemenu .ui-selectcheckboxmenu-trigger .ui-icon, .ui-panel-content .ui-selectcheckboxmenu .ui-selectonemenu-trigger .ui-icon, .ui-panel-content .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
      left: 50%;
      margin: -8px;
      position: absolute;
      top: 50%; }
.ui-panel-content .ui-fluid:first-child .p-field:first-child {
  padding-top: 0; }
.ui-panel-content .ui-fluid:last-child .p-field:last-child {
  padding-bottom: 0; }
.ui-panel-content .ui-fluid .p-field .p-col {
  line-height: 22px; }
  .ui-panel-content .ui-fluid .p-field .p-col:first-child {
    padding-left: 0; }
  .ui-panel-content .ui-fluid .p-field .p-col:last-child, .ui-panel-content .ui-fluid .p-field .p-col:not(.ui-outputlabel) {
    padding-right: 0; }

.ui-selectbooleancheckbox {
  cursor: pointer; }
  .ui-selectbooleancheckbox .ui-chkbox-box {
    border-radius: 3px;
    height: 18px;
    position: relative;
    vertical-align: middle;
    width: 18px; }
    .ui-selectbooleancheckbox .ui-chkbox-box:after {
      border-bottom: 1px solid #ebebeb;
      box-sizing: border-box;
      content: 'ui-button';
      display: block;
      height: 100%;
      line-height: normal;
      padding: 3px 0 2px 0;
      text-indent: -9999999px;
      width: 100%;
      border-radius: 2px; }
    .ui-selectbooleancheckbox .ui-chkbox-box.ui-state-active:after {
      display: none; }
    .ui-selectbooleancheckbox .ui-chkbox-box .ui-chkbox-icon {
      left: 50%;
      margin: -8px;
      position: absolute;
      top: 50%; }
  .ui-selectbooleancheckbox .ui-helper-hidden-accessible > input[type=checkbox] {
    -webkit-appearance: none; }

.ui-colorpicker {
  display: inline-block;
  width: 20px; }
  .ui-colorpicker .ui-button:after {
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    content: 'ui-button';
    display: block;
    height: 100%;
    line-height: normal;
    padding: 3px 0 2px 0;
    text-indent: -9999999px;
    width: 100%;
    border-radius: 2px; }
  .ui-colorpicker .ui-button .ui-button-text {
    left: 50%;
    margin: -6px 0 0 -6px;
    padding: 0;
    position: absolute;
    top: 50%; }
    .ui-colorpicker .ui-button .ui-button-text > span {
      /* important has to be used because primefaces sets border color and size as inline style */
      border-color: #a8a8a8 !important;
      border-radius: 6px;
      height: 10px !important;
      width: 10px !important; }

.ui-datatable-header {
  display: flex; }
  .ui-datatable-header .pf-datatable-header-title {
    flex-grow: 1; }

.ui-button-help > label {
  height: 24px;
  display: block;
  margin: -7px -.8em -6px -.6em; }
  .ui-button-help > label .ui-commandlink {
    cursor: default;
    padding: 6px .8em 6px .6em;
    vertical-align: middle;
    display: inline-block; }

pre code {
  overflow-x: auto; }

.auContainer [class^="auGrid_"],
.auContainer [class*=" auGrid_"] {
  margin: 10px 5px 0;
  box-sizing: border-box; }
  .auContainer [class^="auGrid_"] > *,
  .auContainer [class*=" auGrid_"] > * {
    box-sizing: border-box;
    width: 100%; }

.ui-dialog {
  display: none !important;
  flex-direction: column;
  max-height: 80%;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%); }
  .ui-dialog[aria-hidden=false] {
    display: flex !important; }
  .ui-dialog .ui-dialog-content {
    box-sizing: border-box;
    height: calc(100% - 35px - .8em) !important;
    margin-bottom: 18px; }

form > .jeeslPanel {
  box-sizing: border-box;
  height: 100%; }

.height-balance-container {
  display: flex;
  padding: 0;
  margin: 10px 5px 0; }
  .height-balance-container > [class^="auGrid_"], .height-balance-container [class*=" auGrid_"] {
    display: block;
    margin: 0 5px; }
    .height-balance-container > [class^="auGrid_"]:first-child, .height-balance-container [class*=" auGrid_"]:first-child {
      margin-left: 0; }
    .height-balance-container > [class^="auGrid_"]:last-child, .height-balance-container [class*=" auGrid_"]:last-child {
      margin-right: 0; }
    .height-balance-container > [class^="auGrid_"] > *, .height-balance-container [class*=" auGrid_"] > * {
      height: 100%; }

.ui-dialog .ui-dialog-titlebar {
  box-sizing: border-box;
  height: 22px; }
  .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    margin: 0; }
  .ui-dialog .ui-dialog-titlebar .jeeslDialogActions {
    bottom: 0;
    right: 0;
    top: 0; }
    .ui-dialog .ui-dialog-titlebar .jeeslDialogActions .pf-action-icon {
      padding: 5px; }
      .ui-dialog .ui-dialog-titlebar .jeeslDialogActions .pf-action-icon > img {
        height: 12px; }
