$white-0: hsla(0,0%,100%,0);
$white-80: hsla(0,0%,100%,.8);

$border-colour: hsla(0,0%,66%,1);
$editor-background: $white-0;
$error-foreground: hsla(0,100%,50%,1);
$panel-background: hsla(0,0%,94%,1);

$header-background-colour: hsla(0,0%,77%,1);