$font-size: 11px;
$font-size-responsive: 13px;

$font-size-breadcrumb: 1.4em;
$font-size-interactable: 1.1em;
$font-size-header: 1.4em;
$font-size-nav: 1.1em;
$font-size-status: 1.1em;

$font-weight-bold: 700;

@mixin font-breadcrumb {
	font-size: $font-size-breadcrumb;
	font-weight: $font-weight-bold;
	letter-spacing: -1px;
}

@mixin font-dropdown {
	@media (max-width: 768px) {
		font-size: $font-size-interactable;
		font-weight: $font-weight-bold;
		letter-spacing: normal;
	}
}

@mixin font-header {
	font-weight: $font-weight-bold;
	
	@media (max-width: 768px) {
		font-size: $font-size-header;
		letter-spacing: -.5px;
	}
}

@mixin font-nav {
	font-size: $font-size-nav;
	font-weight: $font-weight-bold;
	text-decoration: none;
	text-transform: uppercase;
}

@mixin font-statusbar {
	letter-spacing: -.5px;
	
	@media (max-width: 768px) {
		font-size: $font-size-status;
	}
}

@mixin font-interactable {
	@media (max-width: 768px) {
		font-size: $font-size-interactable;
	}
}