@mixin triangle($colour: transparent, $width: 0) {
	border-color: $colour;
    border-style: solid;
    border-width: $width;
    content: '';
    position: absolute;
    top: 0;
    margin-top: 0;
    display: block;
}

@mixin jeesl-dropdown($foreground, $background, $hover, $separator, $zindex: 1) {
	.jeesl-dropdown-list {
		background: $background;
		font-size: 12px;
		opacity: 0;
	    overflow: visible;
		padding: 0;
	    position: absolute;
	    right: 0;
	    text-align: right;
	    transition: opacity .2s 0s, visibility 0s .2s;
	    z-index: $zindex;
	    visibility: hidden;

		@media (max-width: 768px) {
			height: 0;
		    opacity: 1;
		    overflow: hidden;
			transition: opacity 0s .4s, height .4s ease-in-out, visibility 0s .4s;
		    visibility: visible;
		    width: 100%;
		
			&:before {
				background: $hover;
			}
			
			&:after {
				background: $background;
			}
		
			&:before, &:after {
				content: '';
				display: list-item;
				height: 15px;
				width: 100%;
			}
		}
		
		&.jeesl-active {
			height: auto;
			transition: opacity 0s, height .4s ease-in-out, visibility 0s;
			
			.jeesl-dropdown-item {
				opacity: 1;
    			transition: opacity 0s 0s;
			}
		}
		
		.jeesl-dropdown-item {
			font-weight: bold;
			opacity: 1;
			padding: 0;
		    pointer-events: all;
		    transition: opacity 0s .2s;
			
			@media (max-width: 768px) {
				border-top-color: $hover;
			    box-sizing: border-box;
				display: list-item;
			    opacity: 0;
			    padding: 0 15px;
			    transition: opacity 0s .4s;
			    width: 100%;
			}
			
			&:hover {
				background: $hover;
			}
			
			.jeesl-dropdown-item-label {
				background: transparent;
				box-sizing: border-box;
				color: $foreground;
    			display: block;
				font-size: 1.2em !important; // overriding erp rule necessary.
				height: 30px;
				line-height: 14px;
				margin: 0;
				padding: 8px 15px;
			    position: relative;
			    white-space: nowrap;

				@media (max-width: 768px) {
					border-bottom: 2px solid $separator;
					display: flex;
					font-weight: bold;
					height: 50px;
					line-height: 50px;
					margin: 0;
					padding: 0 10px;
					text-align: left;
					width: 100%;
				}
				
				.jeesl-dropdown-item-label-text {
					flex: 1;
				    min-width: 0;
				    overflow: hidden;
					text-overflow: ellipsis;
				}
				
				.jeesl-dropdown-item-label-icon {
					height: 100%;
				    box-sizing: border-box;
					margin-left: 5px;
				    padding: 2px 0;

					@media (max-width: 768px) {
						margin: 0;
						padding: 9px;
					}
				}
			}
		}
	}
}

@mixin jeesl-burger-icon($colour) {
	.jeesl-burger-menu-icon {
		background: $colour;
		background-clip: content-box;
		box-sizing: border-box;
		cursor: pointer;
		display: none;
		height: 42px;
		padding: 19px 15px 18px;
		transition: .4s linear background;
		vertical-align: top;
	    width: 60px;

		@media (max-width: 768px) {
			display: inline-block;
		}
	
		&:before {
			margin-top: -11px;
		}
		
		&:after {
			margin-top: 16px;
		}
		
		&:before, &:after {
			background: $colour;
		    content: '';
			display: block;
		    height: 5px;
		    transition: 0.4s;
		    width: 30px;
		}
		
		&.jeesl-active {
			background-color: transparent;
	
			&:before {
				transform: rotate(-45deg) translate(-8px, 6px);
			}
			
			&:after {
				transform: rotate(45deg) translate(-9px, -7px);
			}
		}
	}
}

@mixin jeesl-menu-bar {
	box-sizing: border-box;
    color: $white-100;
    padding: 0;

	@media (max-width: 768px) {
		height: 42px;
	}
	
	.jeesl-menu-bar-list {
	    height: 100%;
	    list-style: none;
	    padding: 0;
		pointer-events: none;
	    position: relative;

		> * {
			pointer-events: all;
		}

		.jeesl-menu-bar-item {
			background: transparent;
		    box-sizing: border-box;
			font-size: 0;
			height: 100%;
		    margin: 0;
		    padding: 0;
		    position: relative;
		    top: 0;

			@media (max-width: 768px) {
				position: initial;
			}

			&.jeesl-active {
				.jeesl-menu-bar-button {
					&.jeesl-menu-bar-dropdown {
						background: transparent;
						
						@media(max-width: 768px) {
							background: $dark-colour;
						}
					}
					
					.ui-commandlink {
						text-decoration: none;
					}
				}
			}

			.jeesl-menu-bar-button {
				box-sizing: border-box;
			    color: $white-100;
				cursor: pointer;
			    display: inline-block;
			    height: 100%;
				transition: background .2s linear;
			    position: relative;
			    white-space: nowrap;

				@media (max-width: 768px) {
					transition-duration: .4s;
				}

				.jeesl-menu-bar-button-icon {
					box-sizing: border-box;
					height: 100%;
					position: relative;
				    vertical-align: middle;
					
					&.jeesl-greyscale {
						cursor: default;
					}
				}
				
				.jeesl-menu-bar-button-label {
				    display: inline-block;
					vertical-align: middle;
					
					@media (max-width: 768px) {
    					font-size: 1.25em;
					}
				}
				
				.jeesl-menu-bar-button-summary {
					display: none;
					font-style: italic;
					margin-left: -.25em;
					opacity: .5;
					padding-right: 6px;
					vertical-align: middle;
					
					@media (max-width: 768px) {
						display: inline-block;
					}
				}
				
				.jeesl-menu-bar-button-selected-items {
					@media (max-width: 768px) {
						display: none;
					}
				}
			}
		}
	}
}

body {
	min-width: 400px;
}

pre {
	code {
		background: $panel-background;
	}
}

#container {
	max-width: 982px;
	width: auto;
}

.jeesl-left {
	float: left;
}

.jeesl-right {
	float: right;
}

.jeesl-greyscale {
	filter: grayscale(1);
}

.jeesl-header {
	border-bottom: 2px solid $bright-grey;
	height: 36px;
    padding: 3px 0 0;
	position: relative;
	width: 100%;
	
	@media (max-width: 768px) {
		border-color: transparent;
	}
	
	> a {
		display: inline-block;
		margin: 5px 0 0 10px;
		width: 170px;
		
		.logo {
			margin: 0;
			pointer-events: none;
		}
	}
	
	@include jeesl-burger-icon($dark-colour);
	
	.jeesl-burger-menu-icon {
		position: absolute;
		right: 0;
		top: 5px;
	}
	
	@include jeesl-dropdown($anthracite, $white-100, $white-100, $bright-grey, 20);
	
	.jeesl-dropdown-list {
		background: transparent;
		display: inline-block;
		opacity: 1;
		visibility: visible;
		
		@media (max-width: 768px) {
			background: $white-100;
			margin: 0;
			opacity: 0;
			top: 51px;
			visibility: hidden;
			
			&.jeesl-active {
				opacity: 1;
				visibility: visible;
			}
		}
		
		.jeesl-dropdown-item {
			&:hover {
				.jeesl-dropdown-item-label {
					border-bottom: 2px solid $dark-colour;
					color: $dark-colour;
				}
			}
			
			.jeesl-dropdown-item-label {
				float: left;
				font-size: 1em;
				height: 38px;
				line-height: 24px;
				text-decoration: none;
				text-transform: uppercase;
				
				@media (max-width: 768px) {
					float: none;
					height: 50px;
					line-height: 50px;
				}
			}
		}
	}
}

.jeesl-breadcrumb-header {
	@include jeesl-menu-bar;
	
	background: $dark-colour;
    height: 30px;
    margin: 10px;

	// Overriding aupHeadline arguments necessary.
	font-size: 1em;
    letter-spacing: normal;

	.jeesl-menu-bar-list {
	    right: 0;
	    top: 0;

		// Overriding aupHeadlineBreadcrumb float necessary.
		float: none;
		
		// Moving breadcrumbs left without using float: right to not inverse order.
		display: flex;
		&:before {
			content: '';
			flex: 1;
		}

		.jeesl-menu-bar-item {
			font-size: 15px;
			letter-spacing: -1px;
			
			&:not(:last-child) {
				.jeesl-menu-bar-button {
					padding-right: 30px;
				
					&:before {
						@include triangle($bright-colour $bright-colour $bright-colour transparent, 15px 1px 15px 15px);
						
						right: 1px;
						z-index: 1;
					}
					
					&:after {
						@include triangle($dark-colour $dark-colour $dark-colour transparent, 15px 1px 15px 15px);
						
						right: 0;
						z-index: 2;
					}
				
					@media (max-width: 768px) {
						padding-right: 36px;
					
						&:before, &:after {
							border-width: 21px 1px 21px 21px;
						}
					}
				}
				
				.jeesl-dropdown-list {
					right: 16px;
					
					@media (max-width: 768px) {
						right: 0;
					}
				}
			}
			
			&:hover {
				.jeesl-menu-bar-button {
					background: $main-background-gradient 12500% 0 / 99% 100% no-repeat;
				}
				
				.jeesl-dropdown-list {
					visibility: visible;
					opacity: 1;
				}
			}
			
			// Overriding aupHeadlineBreadcrumb > li float necessary.
			&.jeesl-right {
				float: right;
			}
			
			.jeesl-menu-bar-button {
				background: $main-background-gradient 0 0 / 99% 100% no-repeat;
			    font-weight: 600;
			    letter-spacing: -1px;
				padding: 7px 15px 6px 15px;
				
				@media (min-width: 769px) {
					a.jeesl-menu-bar-button-label {
						+ .jeesl-menu-bar-button-label {
							display: none;
						}
					}
				}
				
				@media (max-width: 768px) {
					padding: 11px 15px 10px 15px;
					
					a.jeesl-menu-bar-button-label {
						display: none;
					}
				}
				
				&.jeesl-active {
					@media (max-width: 768px) {
						background: $main-background-gradient 12500% 0 / 99% 100% no-repeat;
					}
				}
				
				.jeesl-menu-bar-button-label {
					padding: 0;
					
					// Blending out the old triangles for the breadcrumbs is necessary.
					&:before, &:after {
						display: none;
					}
					
					// Overriding .aupHeadlineBreadcrumb a styles necessary.
					background: none;
					&:hover {
						background: none;
					}
				}
			}
			
			@include jeesl-dropdown($white-100, $main-background-gradient, $dark-colour, $dark-colour, 10);
			
			.jeesl-dropdown-list {
				.jeesl-dropdown-item {
					letter-spacing: -1px;
					
					@media (max-width: 768px) {
						letter-spacing: normal;
					}
					
					&:first-child {
						display: none;
						
						@media (max-width: 768px) {
							display: list-item;
						}
					}
					
					&:hover {
						.jeesl-dropdown-item-label {
							&:after {
								border-left-color: $dark-colour;
							}
						}
					}
					
					.jeesl-dropdown-item-label {
						&:before, &:after {
							@include triangle(transparent transparent transparent $bright-colour, 15px 1px 15px 15px);
							
							@media (max-width: 768px) {
								display: none;
							}
						}
						
						&:before {
							right: -16px;
						}
						
						&:after {
							right: -15px;
						}
					}
				}
			}
		}
	}
}

.jeesl-status-bar {
	@include jeesl-menu-bar;
	
	background: $status-background-gradient;
    height: 25px;
    margin: -10px 10px 10px;

	// Overriding more specific rule necessary.
	> .jeesl-menu-bar-list {
		> .jeesl-menu-bar-item {
			&.jeesl-left:not(:first-child):before, &.jeesl-right:not(:last-child):before {
				content: '';
				position: initial;
				left: 0;
				top: 0;
			}
		}
	}
	
	.jeesl-menu-bar-list {
		.jeesl-menu-bar-item {
			
			
			.jeesl-menu-bar-button {
				background: $medium-colour;
				
				@media (max-width: 768px) {
					&.jeesl-active {
						background: $dark-colour;
					}
				}
				
				&:not(.jeesl-menu-bar-dropdown).jeesl-active {
					background: $brighter-colour;
				}
			}
			&:hover {
				.jeesl-menu-bar-button {
					background: $dark-colour;
					
					&:not(.jeesl-menu-bar-dropdown).jeesl-active {
						background: $bright-colour;
					}
						
					&.jeesl-disabled {
						background: transparent;
					}
				}
			}
			
			
			
			
		    &:hover {
//				.jeesl-menu-bar-button {
//					background: $dark-colour;
//					
//					&.jeesl-active {
//						background: $bright-colour;
//					}
//						
//					&.jeesl-disabled {
//						background: transparent;
//					}
//				}
				
				.jeesl-dropdown-list {
					opacity: 1;
					visibility: visible;
				}
			}
			
			&:before {
				border-left: 1px solid $bright-colour;
			    content: '';
			    display: inline-block;
			    height: calc(100% - 14px);
				margin: 7px 0;
				position: initial;
			    vertical-align: top;
			}

			&.jeesl-left:first-child, &.jeesl-right:last-child {
				&:before {
					display: none;
				}
			}
			
			&.jeesl-left {
				.jeesl-dropdown-list {
					left: 0;
					right: auto;
					text-align: left;
				}
			}

			.jeesl-menu-bar-button {
				background: $medium-colour;
			    padding: 7px 0 6px;
				
				&.jeesl-disabled {
					cursor: default;
					
					.ui-commandlink {
						cursor: default;
						filter: grayscale(1);
					}
				}
			
				&:before {
					background: linear-gradient(to bottom, $dark-colour, transparent);
				    content: '';
				    display: block;
				    height: 100%;
				    position: absolute;
				    top: 0;
				    transition: opacity .4s linear;
				    width: 100%;
				}
				
				&:after {
					content: '';
				    display: inline-block;
				    height: 100%;
				    vertical-align: middle;
				}
				
				.ui-commandlink {
					position: relative;
					text-decoration: none;
				}
				
				.jeesl-menu-bar-button-icon {
					padding: 0 6px;
				}
					
				.jeesl-menu-bar-button-label {
					align-items: center;
					font-weight: 400;
				    letter-spacing: -.5px;
					padding-right: 6px;
					position: relative;

					&:first-child {
						padding-left: 6px;
					}
				}
			}
			
			@include jeesl-dropdown($white-100, $medium-colour, $dark-colour, $dark-colour);
			
			.jeesl-dropdown-list {
				&.jeesl-dropdown-list-multi {
					.jeesl-dropdown-item {
						&:first-child {
							@media (max-width: 768px) {
								background: $dark-colour;
								border-top: 2px solid $medium-colour;
							}
							
							.jeesl-dropdown-multi-summary {
							    font-style: italic;
							    opacity: .5;
			
								@media (max-width: 768px) {
							    	font-size: 1.2em;
								}
							}
							
							.jeesl-dropdown-item-label {
								display: inline-block;
								padding: 8px 7px 8px 5px;
								width: auto;
								
								@media (max-width: 768px) {
									padding: 0;
								}
									
								.jeesl-dropdown-item-label-icon:last-child {
									margin: 0;
								}
							}
						}
						
						.jeesl-dropdown-item-label {
							.jeesl-dropdown-item-label-icon {
								@media (max-width: 768px) {
									padding: 12px 0;
								}
								
								&:last-child {
									margin-right: -8px;
									padding: 0;
									
									@media (max-width: 768px) {									
										margin-right: -10px;
										padding: 12px;
									}
								}
							}
						}
					}
				}
			
				.jeesl-dropdown-item {
					.jeesl-dropdown-item-label {
						@media (min-width: 768px) {
							font-size: 1em;
							font-weight: 400;
							height: 26px;
							padding: 6px 15px;
						}
						
						.jeesl-dropdown-item-label-icon {
							margin: 0;
							padding: 2px 0;
							
							@media (max-width: 768px) {
								padding: 12px 0;
							}
							
							&:not(:first-child) {
								margin-left: 5px;
								
								 @media (max-width: 768px) {
									margin-left: 12px;
								}
							}
							
							&:not(:last-child) {
								margin-right: 5px;
								
								 @media (max-width: 768px) {
									margin-right: 12px;
								}
							}
						}
					}
				}
			}
		}
		
		.jeesl-menu-bar-radio-item, .jeesl-menu-bar-radio-item:hover {
			background: transparent;
			height: 100%;
			padding: 0;
			
			.jeesl-menu-bar-radio-item-list, .jeesl-menu-bar-radio-item-list:hover {
			    display: flex;
			    height: 100%;
			    opacity: 1;
			    position: inherit;
				visibility: visible;
				
				.jeesl-menu-bar-item {
					&:before {
						border-color: $darker-colour;
					}
					
					&:last-child:after {
						display: none;
					}
				}
			}
		}
	}
}

.jeesl-content {
	float: none;
	
	.jeesl-content-container {
		padding: 0;
		width: 100%;
	
		@for $i from 1 to 13 {
			.jeesl-grid-#{$i} {
				width: calc((100% / 12) * #{$i} - 10px);
				
				> * {
					width: 100%;
				}
			}
		}
	}
}

@mixin jeesl-titlebar {
	box-sizing: border-box;
	display: flex;
    height: 22px;
	margin-bottom: 2px;
    padding: 0 0 0 10px;
	
	@media (max-width: 768px) {
		border: 0 solid $dark-colour;
		border-bottom-width: 4px;
		border-radius: 3px 3px 0 0;
		height: 46px;
	}
}

@mixin jeesl-titlebar-title {
	flex-grow: 1;
	line-height: 22px;

	@media (max-width: 768px) {
		color: $dark-colour;
	    font-size: 18px;
	    letter-spacing: -.5px;
	    line-height: 42px;
	}
}

@mixin jeesl-titlebar-actions {
	float: none;
	height: 100%;
		
	.pf-action-icon, .jeesl-action-icon {
		box-sizing: border-box;
		display: inline-block;
		height: 100%;
		margin: 0;
		padding: 4px 0;
		transition: background .2s linear;

		@media (max-width: 768px) {
			padding: 7px 0 6px;
		}
		
		&:hover {
			background: $header-background-colour;
		}
		
		img {
			padding: 0 4px;
			
			@media (max-width: 768px) {
				border-left: 1px solid $border-colour;
				padding: 0 6px;
			}
		}
	}
	
	img {
		height: 100%;
	}
}

@mixin jeesl-panel-titlebar {
	.ui-panel-titlebar {
		@include jeesl-titlebar;
		
		.ui-panel-title {
			@include jeesl-titlebar-title;
		}
		
		.ui-panel-actions {
			@include jeesl-titlebar-actions;
		}
	}
}

@mixin jeesl-table-titlebar {
	.ui-datatable-header {
		@include jeesl-titlebar;
		
		.pf-datatable-header-title {
			@include jeesl-titlebar-title;
		}
		
		.pf-datatable-header-actions {
			@include jeesl-titlebar-actions;
		}
	}
}

@mixin jeesl-dialog-titlebar {
	.ui-dialog-titlebar {
		@include jeesl-titlebar;
		
		@media (max-width: 768px) {
			pointer-events: none;
		}
		
		> .ui-dialog-title {
			display: flex;
			height: 100%;
			flex-grow: 1;
			
			.ui-dialog-title {
				@include jeesl-titlebar-title;
			}
			
			.ui-dialog-titlebar-actions {
				@include jeesl-titlebar-actions;
				
			    bottom: 0;
				cursor: default;
			    position: initial;
			    right: 0;

				@media (max-width: 768px) {
					pointer-events: all;
				}

				.ui-outputpanel {
					.pf-action-icon {
						float: none;
						
						img {
							vertical-align: initial;
						}
					}
				}
			}
		}
		
		.ui-dialog-title {
			float: none;
			margin: 0;
		}
	}
}

@mixin input-grid {
	.ui-fluid {
		.p-grid {
			position: relative;
			
			@media (max-width: 768px) {
				display: block;
				padding: 4px 0 0;
			}
			
			.p-col {
				&.ui-outputlabel {
					@media (max-width: 768px) {
						left: 50%;
						line-height: 14px;
						padding: 0;
						position: absolute;
						top: 0;
	    				transform: translate(-50%, 0);
						
						&:first-child {
							left: 15px;
							transform: none;
						}
						
						&:last-child {
							left: auto;
							right: 15px;
							transform: none;
						}
					}
				}
				
				&:not(.ui-outputlabel) {
					@media (max-width: 768px) {
						height: 56px;
					    line-height: 50px;
					    padding: 3px 0;

						// Overriding inline css
						width: 100% !important;
					}

					> * {
						border-radius: 3px;
						box-sizing: border-box;
						height: 100%;
						
						@media (max-width: 768px) {
							font-size: 18px !important;
							padding-left: 10px;
							width: 100%;
						}
					}
					
					> span {
						display: inline-block;
						
						@media (max-width: 768px) {
							background: $light-grey;
						}
					}
				}
			}
		}
	}
}

@mixin image-gallery {
	.ui-galleria {
		width: 100% !important;
		
		.ui-galleria-panel-wrapper {
			margin: 0 auto;
		}
		
		.ui-galleria-filmstrip-wrapper {
			height: 50px !important;
			margin: 0;
			width: 100% !important;
		}
		
		.ui-icon {
			background-image: none;
			bottom: 0 !important;
			height: 50px;
			width: 42px;
			text-align: center;
			text-indent: initial;
			transition: background .2s linear;
			
			&:hover {
				background: $soft-grey;
			}
			
			&.ui-icon-circle-triangle-w {
				left: 0;
				
				&:before {
					@include triangle(transparent $dark-grey transparent transparent, 8px 8px 8px 0);
					
					display: inline-block;
					position: relative;
					vertical-align: middle;
				}
			}
			
			&.ui-icon-circle-triangle-e {
				right: 0;
				
				&:before {
					@include triangle(transparent transparent transparent $dark-grey, 8px 0 8px 8px);
					
					display: inline-block;
					position: relative;
					vertical-align: middle;
				}
			}
			
			&:after {
				content: '';
				display: inline-block;
			    height: 100%;
				position: relative;
				vertical-align: middle;
			}
		}
		
		.ui-galleria-caption {
			width: 100% !important;
		}
	}
}

/******************
 * TREE ANIMATION *
 ******************/
//.ui-tree {
//	.ui-treenode {
//		&:not(.jeesl-active) {
//			.ui-treenode-content {
//				&.ui-droppable-active {
//					+ .ui-treenode-children {
//						display: none !important;
//					}
//				}
//			}
//		}
//		
//		.ui-treenode-children {
//			display: list-item !important;
//			height: 0;
//			overflow: hidden;
//			transition: height .4s ease-in-out;
//		}
//	}
//}
/******************/

@mixin jeesl-editor {
	.ui-widget-content {
		margin: 0 -.2em -.2em;
		padding: 0 !important; // overriding necessary.
		
		@media (max-width: 768px) {
			margin: 0;
		}
		
		.ql-toolbar {
			border: 0;
			margin: 0;
		}
		
		.ql-container {
			border: solid $soft-grey;
			border-radius: 0 0 3px 3px;
			border-width: 1px 0 0;
			overflow: hidden;
			
			.ql-editor {
				background: $white-100;
			}
		}
	}
}

.jeesl-content {
	.jeesl-content-container {
		.ui-panel {
			@include jeesl-panel-titlebar;
			
			@media (max-width: 768px) {
				padding: 0;
			}
			
			&.jeesl-editor {
				@include jeesl-editor;
			}
			
			.ui-panelgrid {
				.ui-datatable {
					@include jeesl-table-titlebar;
					
					margin: 0;
				}
			}
			
			.ui-tree {
				.ui-tree-droppoint {
					&.ui-droppable-active {
						&.ui-state-hover {
							background: $medium-colour;
							color: $white-100;
						}
					}
				}
				
				.ui-treenode {
					padding: 0;
					
					.ui-treenode-content {
						display: flex;
						height: 22px;
						width: 100%;
						
						@media (max-width: 768px) {
							border-bottom: 2px solid $soft-grey;
							box-sizing: border-box;
							font-size: 15px;
							height: 50px;
							line-height: 50px;
						}
						
						&.ui-droppable {
							@media (max-width: 768px) {
								height: 46px;
								line-height: 42px;
							}
						}
						
						&.ui-droppable-active {
							.ui-treenode-label {
								&.ui-state-hover {
									background: $medium-colour;
									color: $white-100;
								}
							}
						}
						
						.ui-treenode-leaf-icon {
							@media (max-width: 768px) {
								display: none;
								
								~ .ui-treenode-label {
									padding-left: 43px;
								}
							}
						}
						
						.ui-tree-toggler {
							background: none;
							height: 100%;
							text-align: center;
							text-indent: 0;
							
							@media (max-width:768px) {
								width: 40px;
							}
							
							&:hover {
								background: $soft-grey;
							}

							&:after {
								@include triangle(transparent transparent transparent $dark-grey, 4px 0 4px 4px);
								
								display: inline-block;
								position: relative;
								vertical-align: middle;
								
								@media (max-width: 768px) {
									border-width: 8px 0 8px 8px;
								}
							}
							
							&.ui-icon-triangle-1-s:after {
								transform: rotate(90deg);
							}
						}
						
						.ui-treenode-label {
							border-radius: 0;
							flex: 1;
							
							&.ui-state-hover {
								background: $soft-grey;
								box-shadow: none;
							}
						}
					}
				}
			}
			
			.jeesl-tabs {
				border: 0;
    			margin: 4px calc(-.2em - 10px);

				@media (max-width: 768px) {
					margin: 4px -10px;
				}

				&.jeesl-editor {
					&:first-child {
						margin-top: calc(-.2em - 4px);
						
						@media (max-width: 768px) {
							margin-top: -4px;
						}
					}
					
					&:last-child {
						margin-bottom: calc(-.2em - 4px);
						
						@media (max-width: 768px) {
							margin-bottom: -4px;
						}
						
						.ui-widget-content {
							.ql-container {
								border-bottom: 0;
								border-radius: 0 0 3px 3px;
							}
						}
					}
					
					.ui-widget-content {
						.ql-container {
							border-radius: 0;
							border-width: 1px 0;
						}
					}
				}
			}
			
			.ui-panel-content {
				@include input-grid;
				@include image-gallery;
				
				.ui-galleria {
					border: 0;
					margin: -6px -10px -4px;
					max-width: calc(100% + 20px);
					width: calc(100% + 20px) !important;
				}
				
				.ui-separator {
					@media (max-width: 768px) {
						background: $light-grey;
						height: 2px;
						margin: 6px 0;
					}
				}
			}
			
			.ui-panel-footer {
				@media (max-width: 768px) {
					margin: 5px 0 0;
					border-width: 4px 0 0;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.jeesl-content {
		.jeesl-content-container {
			@for $i from 1 to 12 {
				.jeesl-grid-#{$i} {
					width: calc(100% - 10px);
				}
			}
		}
	}
}

.ui-dialog {
	@include jeesl-dialog-titlebar;
	
	@media (max-width: 768px) {
		left: 15px !important;
		max-width: none;
		min-width: 370px;
		transform: translateX(0);
		width: calc(100% - 30px) !important;
	}

	.ui-dialog-content {
		@media (max-width: 768px) {
			margin: 0;
		}
		
		.ui-resizable-handle {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}

.jeesl-tabs {
	background: $panel-background;
	
	@media (max-width: 768px) {
		padding: 0;
	}
		
	&.ui-tabs-top {
		.ui-tabs-nav {
			padding: 2px 3px 0;
		}
	}
	
	&.jeesl-editor {
		@include jeesl-editor;
	}

	.ui-tabs-nav {
		@include jeesl-titlebar;
		
		display: block;
		height: auto;
		
		.ui-tabs-header {
			@include jeesl-titlebar-title;
			
			background: linear-gradient(to bottom, $light-grey 87%, $soft-grey 100%);
			box-shadow: inset 0 1px 0 $white-100;
			height: 22px;
			margin: 0 2px 0;
			
			@media (max-width: 768px) {
				height: 38px;
				line-height: 38px;
			}
			
			&:hover {
				background: linear-gradient(to bottom, #f2f2f2 87%, #c4c4c4 100%);
			}
			
			&.ui-tabs-selected {
				background: linear-gradient(to bottom, $white-100, $panel-background);
				padding-bottom: 1px;
				
				@media (max-width: 768px) {
				    background: linear-gradient(to bottom, $medium-colour, $dark-colour);
					border: 0;
					box-shadow: inset 0 1px 0 $bright-colour;
				    padding: 1px;
				}
				
				a {
					@media (max-width: 768px) {
						color: $white-100;
						text-shadow: none;
					}
				}
			}
			
			a {
				padding: 0 11px;
			}
		}
	}
}