@mixin triangle($colour: transparent, $width: 0) {
	border-color: $colour;
    border-style: solid;
    border-width: $width;
    content: '';
    position: absolute;
    top: 0;
    margin-top: 0;
    display: block;
}

@mixin jeesl-dropdown($foreground, $background, $hover, $separator, $zindex: 1) {
	.jeesl-dropdown-list {
		background: $background;
		opacity: 0;
	    overflow: visible;
		padding: 0;
	    position: absolute;
	    right: 0;
	    text-align: right;
	    transition: opacity .2s 0s, visibility 0s .2s;
	    z-index: $zindex;
	    visibility: hidden;

		@media (max-width: 768px) {
			height: 0;
		    opacity: 1;
		    overflow: hidden;
			transition: opacity 0s .4s, height .4s ease-in-out, visibility 0s .4s;
		    visibility: visible;
		    width: 100%;
		
			&:before {
				background: $hover;
			}
			
			&:after {
				background: $background;
			}
		
			&:before, &:after {
				content: '';
				display: list-item;
				height: 15px;
				width: 100%;
			}
		}
		
		&.jeesl-active {
			height: auto;
			transition: opacity 0s, height .4s ease-in-out, visibility 0s;
			
			.jeesl-dropdown-item {
				opacity: 1;
    			transition: opacity 0s 0s;
			}
		}
		
		.jeesl-dropdown-item {
			opacity: 1;
		    pointer-events: all;
		    transition: opacity 0s .2s;
			
			@media (max-width: 768px) {
				border-top-color: $hover;
			    box-sizing: border-box;
				display: list-item;
			    opacity: 0;
			    padding: 0 15px;
			    transition: opacity 0s .4s;
			    width: 100%;
			}
			
			&:hover {
				background: $hover;
			}
			
			.jeesl-dropdown-item-label {
				background: transparent;
				color: $foreground;
    			display: block;
			    position: relative;
			    white-space: nowrap;

				@media (max-width: 768px) {
					border-bottom: 2px solid $separator;
				    box-sizing: border-box;
				    font-size: 1.2em;
					font-weight: bold;
				    height: 50px;
				    line-height: 50px;
				    margin: 0;
				    padding: 0 10px;
				    text-align: left;
				    width: 100%;
				}
			}
		}
	}
}

@mixin jeesl-burger-icon($colour) {
	.jeesl-burger-menu-icon {
		background: $colour;
		background-clip: content-box;
		box-sizing: border-box;
		cursor: pointer;
		display: none;
		height: 42px;
		padding: 19px 15px 18px;
		transition: .4s linear background;
		vertical-align: top;
	    width: 60px;

		@media (max-width: 768px) {
			display: inline-block;
		}
	
		&:before {
			margin-top: -11px;
		}
		
		&:after {
			margin-top: 16px;
		}
		
		&:before, &:after {
			background: $colour;
		    content: '';
			display: block;
		    height: 5px;
		    transition: 0.4s;
		    width: 30px;
		}
		
		&.jeesl-active {
			background-color: transparent;
	
			&:before {
				transform: rotate(-45deg) translate(-8px, 6px);
			}
			
			&:after {
				transform: rotate(45deg) translate(-9px, -7px);
			}
		}
	}
}

@mixin jeesl-menu-bar {
	box-sizing: border-box;
    color: $white-100;
    padding: 0;

	@media (max-width: 768px) {
		height: 42px;
	}
	
	.jeesl-menu-bar-list {
	    height: 100%;
	    list-style: none;
	    padding: 0;
		pointer-events: none;
	    position: relative;

		.jeesl-menu-bar-item {
		    box-sizing: border-box;
			height: 100%;
		    margin: 0;
		    padding: 0;
			pointer-events: all;
		    position: relative;
		    top: 0;

			@media (max-width: 768px) {
				position: initial;
			}

			.jeesl-menu-bar-button {
				box-sizing: border-box;
			    color: $white-100;
				cursor: pointer;
			    display: block;
			    height: 100%;
				transition: background .2s linear;
			    position: relative;
			    white-space: nowrap;

				@media (max-width: 768px) {
					transition-duration: .4s;
				}

				&.jeesl-active {
					background: $dark-colour;
				}

				.jeesl-menu-bar-button-icon {
					box-sizing: border-box;
					height: 100%;
				    vertical-align: middle;
					
					&.jeesl-greyscale {
						cursor: default;
					}
				}
				
				.jeesl-menu-bar-button-label {
				    display: inline-block;
					vertical-align: middle;
					
					@media (max-width: 768px) {
    					font-size: 1.25em;
					}
				}
			}
		}
	}
}

body {
	min-width: 400px;
}

#container {
	max-width: 982px;
	width: auto;
}

.jeesl-left {
	float: left;
}

.jeesl-right {
	float: right;
}

.jeesl-greyscale {
	filter: grayscale(1);
}

.jeesl-header {
	border-bottom: 2px solid $bright-grey;
	height: 36px;
    padding: 3px 0 0;
	position: relative;
	width: 100%;
	
	@media (max-width: 768px) {
		border-color: transparent;
	}
	
	> a {
		display: inline-block;
		margin: 5px 0 0 10px;
		width: 170px;
		
		.logo {
			margin: 0;
			pointer-events: none;
		}
	}
	
	@include jeesl-burger-icon($dark-colour);
	
	.jeesl-burger-menu-icon {
		position: absolute;
		right: 0;
		top: 5px;
	}
	
	@include jeesl-dropdown($anthracite, $white-100, $white-100, $bright-grey, 20);
	
	.jeesl-dropdown-list {
		background: transparent;
		display: inline-block;
		opacity: 1;
		visibility: visible;
		
		@media (max-width: 768px) {
			background: $white-100;
			margin: 0;
			opacity: 0;
			top: 51px;
			visibility: hidden;
			
			&.jeesl-active {
				opacity: 1;
				visibility: visible;
			}
		}
		
		.jeesl-dropdown-item {
			&:hover {
				.jeesl-dropdown-item-label {
					border-bottom: 2px solid $dark-colour;
					color: $dark-colour;
				}
			}
			
			.jeesl-dropdown-item-label {
				float: left;
				text-decoration: none;
				text-transform: uppercase;
				
				@media (max-width: 768px) {
					float: none;
				}
			}
		}
	}
}

.jeesl-breadcrumb-header {
	@include jeesl-menu-bar;
	
	background: $dark-colour;
    height: 30px;
    margin: 10px;

	// Overriding aupHeadline arguments necessary.
	font-size: 1em;
    letter-spacing: normal;

	.jeesl-menu-bar-list {
	    right: 0;
	    top: 0;

		// Overriding aupHeadlineBreadcrumb float necessary.
		float: none;
		
		// Moving breadcrumbs left without using float: right to not inverse order.
		display: flex;
		&:before {
			content: '';
			flex: 1;
		}

		.jeesl-menu-bar-item {
			font-size: 15px;
			letter-spacing: -1px;
			
			&:not(:last-child) {
				.jeesl-menu-bar-button {
					padding-right: 30px;
				
					&:before {
						@include triangle($bright-colour $bright-colour $bright-colour transparent, 15px 1px 15px 15px);
						
						right: 1px;
						z-index: 1;
					}
					
					&:after {
						@include triangle($dark-colour $dark-colour $dark-colour transparent, 15px 1px 15px 15px);
						
						right: 0;
						z-index: 2;
					}
				
					@media (max-width: 768px) {
						padding-right: 36px;
					
						&:before, &:after {
							border-width: 21px 1px 21px 21px;
						}
					}
				}
			}
			
			&:hover {
				.jeesl-menu-bar-button {
					background: $main-background-gradient 12500% 0 / 99% 100% no-repeat;
				}
				
				.jeesl-dropdown-list {
					visibility: visible;
					opacity: 1;
				}
			}
			
			// Overriding aupHeadlineBreadcrumb > li float necessary.
			&.jeesl-right {
				float: right;
			}
			
			.jeesl-menu-bar-button {
				background: $main-background-gradient 0 0 / 99% 100% no-repeat;
			    font-weight: 600;
			    letter-spacing: -1px;
				padding: 7px 15px 6px 15px;
				
				@media (min-width: 769px) {
					a.jeesl-menu-bar-button-label {
						+ .jeesl-menu-bar-button-label {
							display: none;
						}
					}
				}
				
				@media (max-width: 768px) {
					padding: 11px 15px 10px 15px;
				
					&.jeesl-active {
						background: $main-background-gradient 12500% 0 / 99% 100% no-repeat;
					}
					
					a.jeesl-menu-bar-button-label {
						display: none;
					}
				}
				
				.jeesl-menu-bar-button-label {
					padding: 0;
					
					// Blending out the old triangles for the breadcrumbs is necessary.
					&:before, &:after {
						display: none;
					}
					
					// Overriding .aupHeadlineBreadcrumb a styles necessary.
					background: none;
					&:hover {
						background: none;
					}
				}
			}
			
			@include jeesl-dropdown($white-100, $main-background-gradient, $dark-colour, $dark-colour, 10);
			
			.jeesl-dropdown-list {
				right: 16px;
				
				&:last-child {
					right: 0;
				}
				
				@media (max-width: 768px) {
					right: 0;
				}
				
				.jeesl-dropdown-item {
					&:first-child {
						display: none;
						
						@media (max-width: 768px) {
							display: list-item;
						}
					}
					
					&:hover {
						.jeesl-dropdown-item-label {
							&:after {
								border-left-color: $dark-colour;
							}
						}
					}
					
					.jeesl-dropdown-item-label {
						&:before, &:after {
							@include triangle(transparent transparent transparent $bright-colour, 15px 1px 15px 15px);
							
							@media (max-width: 768px) {
								display: none;
							}
						}
						
						&:before {
							right: -16px;
						}
						
						&:after {
							right: -15px;
						}
					}
				}
			}
		}
	}
}

.jeesl-status-bar {
	@include jeesl-menu-bar;
	
	background: $status-background-gradient;
    height: 25px;
    margin: -10px 10px 10px;
	
	.jeesl-menu-bar-list {
		.jeesl-menu-bar-item {
		    position: relative;

			@media (max-width: 768px) {
				position: initial;
			}
			
			.jeesl-menu-bar-button:before {
				border-left: 1px solid $bright-colour;
			    content: '';
			    display: inline-block;
			    height: 100%;
			    vertical-align: middle;
			}
			
			&:first-child, &.jeesl-right:last-child {
				.jeesl-menu-bar-button:before {
					display: none;
				}
			}

			&:hover {
				// Overriding of old hover effect necessary.
				background: transparent;
				
				.jeesl-menu-bar-button {
					background: $dark-colour;
				}
				
				.jeesl-dropdown-list {
					opacity: 1;
					visibility: visible;
				}
			}
			
			&:before, &:after {
				display: none;
			}

			.jeesl-menu-bar-button {
			    padding: 7px 0 6px;
					
				.jeesl-menu-bar-button-icon {
					padding-left: 6px;

					&:last-child {
						padding-right: 6px;
					}
				}
					
				.jeesl-menu-bar-button-label {
				    letter-spacing: -.5px;
					padding-right: 6px;

					&:first-child {
						padding-left: 6px;
					}
				}
			}
			
			@include jeesl-dropdown($white-100, $medium-colour, $dark-colour, $dark-colour);
		}
	}
}

.jeesl-content {
	float: none;
	
	.jeesl-content-container {
		padding: 0;
		width: 100%;
	
		@for $i from 1 to 12 {
			.jeesl-grid-#{$i} {
				width: calc((100% / 12) * #{$i} - 10px);
				
				> * {
					width: 100%;
				}
			}
		}
	}
}

@mixin jeesl-panel-titlebar {
	.ui-panel-titlebar {
		box-sizing: border-box;
	    height: 22px;
	    padding: 0 0 0 10px;
		
		@media (max-width: 768px) {
			height: 44px;
		}
		
		.ui-panel-title {
	    	line-height: 22px;

			@media (max-width: 768px) {
			    font-size: 18px;
			    letter-spacing: -.5px;
			    line-height: 42px;
			}
		}
		
		.ui-panel-actions {
			float: none;
			height: 100%;
			
			.ui-outputpanel {
				height: 100%;
				
				.pf-action-icon {
    				box-sizing: border-box;
					height: 100%;
    				margin: 0;
					padding: 4px 0;
					transition: background .2s linear;

					@media (max-width: 768px) {
						padding: 7px 0 6px;
					}
					
					&:hover {
						background: $header-background-colour;
					}
					
					img {
						padding: 0 4px;
						
						@media (max-width: 768px) {
							border-left: 1px solid $border-colour;
    						padding: 0 6px;
						}
					}
				}
			}
			
			img {
				height: 100%;
			}
		}
	}
}

@mixin input-grid {
	.ui-fluid {
		.p-grid {
			display: block;
			padding: 4px 0 0;
			position: relative;
			
			.p-col {
				&.ui-outputlabel {
					left: 50%;
					line-height: 14px;
					padding: 0;
					position: absolute;
					top: 0;
    				transform: translate(-50%, 0);
					
					&:first-child {
						left: 15px;
						transform: none;
					}
					
					&:last-child {
						left: auto;
						right: 15px;
						transform: none;
					}
				}
				
				&:not(.ui-outputlabel) {
					height: 56px;
				    line-height: 50px;
				    padding: 3px 0;

					@media (max-width: 768px) {
						// Overriding inline css
						width: 100% !important;
					}

					> * {
						border-radius: 3px;
						box-sizing: border-box;
						font-size: 18px !important;
						height: 100%;
						padding-left: 10px;
						width: 100%;
					}
					
					> span {
						background: $light-grey;
						display: inline-block;
					}
				}
			}
		}
	}
}

.jeesl-content {
	.jeesl-content-container {
		.ui-panel {
			@include jeesl-panel-titlebar;
			
			.ui-tree {
				.ui-treenode-content {
				    display: flex;
					width: 100%;
	
					@media (max-width: 768px) {
					    font-size: 1.3em;
					    height: 50px;
					    line-height: 50px;
					}
					
					.ui-tree-toggler {
						background-image: none;
					    box-sizing: border-box;
					    width: auto;
					    height: 100%;
	
						&:hover {
							background: $soft-grey;
						}
	
						&:before {
							border-style: solid;
						    box-sizing: border-box;
						    content: '';
						    display: block;
						}
					
						&.ui-icon-triangle-1-e {
							padding: 7px 6px 6px;
							
							@media (max-width: 768px) {
								padding: 17px 16px;
							}
							
							&:before {
								border-color: transparent transparent transparent $dark-grey;
								border-width: 4px 0 4px 4px;
								
								@media (max-width: 768px) {
									border-width: 8px 0 8px 8px;
								}
							}
						}
					
						&.ui-icon-triangle-1-s {
							padding: 9px 4px 8px;
		
							@media (max-width: 768px) {
						    	padding: 21px 12px;
							}
		
							&:before {
							    border-color: $dark-grey transparent transparent;
								border-width: 4px 4px 0;
			
								@media (max-width: 768px) {
							    	border-width: 8px 8px 0;
								}
							}
						}
					}
					
					.ui-treenode-label {
						border-radius: 0;
						flex: 1;
						
						@media (max-width: 768px) {
					    	border-bottom: 2px solid $soft-grey;
							padding-left: 10px;
						}
						
						&.ui-state-hover {
							background: $soft-grey;
							box-shadow: none;
						}
					}
				}
			}
			
			.ui-panel-content {
				@include input-grid;
				
				.ui-separator {
					background: $light-grey;
					height: 2px;
					margin: 6px 0;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.jeesl-content {
		.jeesl-content-container {
			@for $i from 1 to 12 {
				.jeesl-grid-#{$i} {
					width: calc(100% - 10px);
				}
			}
		}
	}
}