$element-height: 22px;
$element-height-mobile: 42px;

$sb-element-height: 26px;
$sb-element-height-mobile: 42px;

$ls-element-height: 26px;
$ls-element-height-mobile: 50px;

$min-button-width: 15px;
$min-button-width-mobile: 30px;

$slim-spacing: 2px;
$half-spacing: 5px;
$regular-spacing: 10px;
$wide-spacing: 15px;

$border-width: 1px;

$headings-margin-bottom: $half-spacing;
$paragraph-margin-bottom: $wide-spacing;

$table-cell-padding: $regular-spacing;
$label-margin-bottom: 0;

$max-content-width: 982px;
$min-content-width: 400px;

$border-radius: 3px;
$border-radius-top: $border-radius $border-radius 0 0;
$border-radius-bottom: 0 0 $border-radius $border-radius;
$border-radius-left: $border-radius 0 0 $border-radius;

@mixin element-height {
	height: $element-height;
	
	@media (max-width: 768px) {
		height: $element-height-mobile;
	}
}

@mixin min-button-width {
	min-width: $min-button-width;
	
	@media (max-width: 768px) {
		min-width: $min-button-width-mobile;
	}
}