$element-height: 22px;
$element-height-mobile: 42px;

$sb-element-height: 26px;
$sb-element-height-mobile: 42px;

$ls-element-height: 26px;
$ls-element-height-mobile: 50px;

$button-height: $element-height;
$button-height-mobile: $element-height-mobile;

$slim-spacing: 2px;
$half-spacing: 5px;
$regular-spacing: 10px;
$wide-spacing: 15px;