@import '_colours';

@mixin button-after {
	border-bottom: 1px solid hsla(0,0%,92%,1);
	box-sizing: border-box;
	content: 'ui-button';
	display: block;
	height: 100%;
	line-height: normal;
	padding: 3px 0 2px 0;
	text-indent: -9999999px;
	width: 100%;
	border-radius: 2px;
}


.ui-datatable {
	.ui-datatable-header {
	    align-items: center;
		display: flex;
	    flex-direction: row;

		.pf-datatable-header-title {
		    flex-grow: 1;
		}

		.ui-separator {
		    border: 0;
		    background: #A8A8A8;
		    width: 1px;
		    clear: none;
		    margin: 0 0 0 5px;
		    float: right;
		    height: 22px;
		}
	}
	
	.jeesl-cell-table {
		tbody {	
			tr, td {
				border: none;
				padding: 0;
			}
		}
	}
}

.ui-panel {
	.ui-panel-titlebar {
		display: flex;
		height: auto;
		line-height: 12px;
		padding: 4px 10px;
		margin-bottom: .2em;
		
		.ui-panel-title {
		    flex-grow: 1;
			margin: 0;
		    top: auto;
		}
		
		.ui-panel-actions {
			img {
				height: 12px;
			}
		}
	}
}

.pf-action-icon {
	display: inline-block;
	float: right;
	margin-left: 5px;
	
	&.pf-inactive {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		filter: saturate(0%);
	}
}

.ui-widget-header,
.ui-widget-content {
	.ui-inputfield {
		border: 0;
//		padding: 4px 2px;
		width: 85%;
	}
}

// Add margin to separator to give distance to following elements but only if present
.ui-widget-content {
	.ui-separator {
		background: #A8A8A8;
		border: 0;
		box-shadow: none;
		height: 1px;
		margin-bottom: 4px;
	
		&:last-child {
			margin-bottom: 1px;
		}
	}
}

// Primeflex adjustment to jeesl style
.p-field {
	&.p-grid {
		align-items: center;
		margin: 0;
		padding: 4px 0;
	}
	
	// Defined on Primefaces example page but missing in actual Primeflex download.
	// https://www.primefaces.org/showcase/ui/input/formLayout.xhtml
	> label {
		margin-bottom: 0;
	}
	
	.p-col {
		line-height: normal;
		padding: 0 10px;
	}
}

.ui-panel-content {
	.ui-selectcheckboxmenu {
		border-width: 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		padding: 0;
		width: 100%;

		.ui-selectcheckboxmenu-multiple-container {
			border-radius: 3px 0 0 3px;
			box-sizing: border-box;
			line-height: normal;
			width: calc(85% + 6px);
		}

		.ui-selectcheckboxmenu-trigger {
			align-items: center;
			border: 1px solid #a8a8a8;
			display: flex;
			flex-grow: 1;
			height: auto;
			justify-content: center;
			padding: 0;
			position: relative;

			&:after {
				@include button-after;

				border-radius: 0 0 2px 2px;
			}

			.ui-icon {
				left: 50%;
				margin: -8px;
				position: absolute;
				top: 50%;
			}
		}
	}
	
	.ui-fluid {
		&:first-child {
			.p-field:first-child {
				padding-top: 0;
			}
		}
		
		&:last-child {
			.p-field:last-child {
				padding-bottom: 0;
			}
		}
		
		.p-field {
			.p-col {
				line-height: 22px;
				
				&:first-child {
					padding-left: 0;
				}
			
				&:last-child, &:not(.ui-outputlabel) {
					padding-right: 0;
				}
			}
		}
	}
}

.ui-selectbooleancheckbox {
	cursor: pointer;

	.ui-chkbox-box {
		border-radius: 3px;
		height: 18px;
		position: relative;
		vertical-align: middle;
		width: 18px;

		&:after {
			@include button-after;
		}

		&.ui-state-active {
			&:after {
				display: none;
			}
		}

		.ui-chkbox-icon {
			left: 50%;
			margin: -8px;
			position: absolute;
			top: 50%;
		}
	}

	.ui-helper-hidden-accessible {
		> input[type=checkbox] {
			-webkit-appearance: none;
		}
	}
}

.ui-colorpicker {
	display: inline-block;
    width: 20px;
	
	.ui-button {
		&:after {
			@include button-after();
		}

		.ui-button-text {
			left: 50%;
			margin: -6px 0 0 -6px;
			padding: 0;
			position: absolute;
			top: 50%;

			> span {
				/* important has to be used because primefaces sets border color and size as inline style */
				border-color: $border-colour !important;
				border-radius: 6px;
				height: 10px !important;
    			width: 10px !important;
			}
		}
	}
}

.ui-datatable-header {
	display: flex;
	
	.pf-datatable-header-title {
		flex-grow: 1;
	}
}

.ui-button-help {
	> label {
		height: 24px;
	    display: block;
	    margin: -7px -.8em -6px -.6em;
		
		.ui-commandlink {
		    cursor: default;
		    padding: 6px .8em 6px .6em;
		    vertical-align: middle;
		    display: inline-block;
		}
	}
}

pre {
	code {
		overflow-x: auto;
	}
}

.auContainer {
	[class^="auGrid_"],
	[class*=" auGrid_"] {
	    margin: 10px 5px 0;
		box-sizing: border-box;
		
		> * {
			box-sizing: border-box;
			width: 100%;
		}
	}
}

// unfortunately auGrid_* class uses display table, which prevents child size dependent on parent size, so the child sizes have to be set explicitly
//@import 'gridContent-70';

// important is necessary because primefaces uses element style on display and position.
.ui-dialog {
	display: none !important;
	flex-direction: column;
    max-height: 80%;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);

	&[aria-hidden=false] {
		display: flex !important;
	}

	.ui-dialog-content {
		box-sizing: border-box;
		height: calc(100% - 35px - .8em) !important;
		margin-bottom: 18px;
	}
}

form {
	> .jeeslPanel {
		box-sizing: border-box;
		height: 100%;
	}
}

.height-balance-container {
    display: flex;
	padding: 0;
	margin: 10px 5px 0;

	> [class^="auGrid_"], [class*=" auGrid_"] {
		display: block;
		margin: 0 5px;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:last-child {
			margin-right: 0;
		}
		
		> * {
			height: 100%;
		}
	}
}

.ui-dialog {
	.ui-dialog-titlebar {
		box-sizing: border-box;
		height: 22px;
		
		.ui-dialog-title {
			margin: 0;
		}
		
		.jeeslDialogActions {
			bottom: 0;
			right: 0;
			top: 0;
			
			.pf-action-icon {
				padding: 5px;
				
				> img {
					height: 12px;
				}
			}
		}
	}
}